h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#header {
	width: 800px;
	margin: 5px;
}

#main {
	width: 800px;
	margin: 5px;
	margin-left: auto;
    margin-right: auto;
    border: 1px solid back;
}

#game {
	float: left;
	width: 600px;
}

#solutions {
	width: 190px;
	height: 602px;
	background-color: #E6E6E6;
	float: right;
}

.solution {
	border: 1px solid;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	width: 150px;
	background-color: #CFCFCF;
}

.scrabbleBoard { 
	background-color: grey;
	height: 600px; 
	width: 600px; 
	border-color: black;
  	border-style: solid;
  	border-width: 0 1px 1px 0;
}

.tilesBoard {
	margin: 10px;
	background-color: grey;
	height: 50px; 
	width: 320px; 
	border:0;
}

.tile{
	font-size: 36px; 
	text-align: center;
	background-repeat:no-repeat;
	border: 1px solid black;
	border-radius: 5px;
	width: 37px;
	height: 37px;
	margin: 1px;
}

.normalTile{
	background-color: white;
}

.activeTile{
	background-color: yellow;
}

.focusField {
	height: 34px; 
	width: 34px;
	border: 3;
	border-style:solid;
	border-color:black; 
}

.field {
	height: 39px; 
	width: 39px;
	font-size: 16px; 
	font-color: white;
	vertical-align: center;
	border-color: black;
  	border-style: solid;
  	border-width: 1px 0 0 1px;
	
}

.DWField {
	background-color: orange;
}

.TWField {
	background-color: red;
}

.DLField {
	background-color: green;
}

.TLField {
	background-color: blue;
}